name: Rust
on:
  push:
    paths:
      - "**/*.rs"
      - "**/*.yml"
      - "**/*.toml"
  pull_request:
    paths:
      - "**/*.rs"
      - "**/*.yml"
      - "**/*.toml"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        rust: [stable, nightly, beta, 1.68.0]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Build
        run: cargo test --verbose --features runtime-ranges,serialize

  fmt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        components: rustfmt
      - name: Formatting
        run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        components: clippy
      - name: Run clippy
        run: cargo clippy --features runtime-ranges,serialize -- -D warnings
